@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@400;600&display=swap'); /*On importe les fonts de google fonts*/
/*On initialise nos variables*/
:root{
    --main-color: #3066BE;
    --main-color-dark: #113773;
    --dark: #01161E;
    --light: #F8F7FF;
    --validation: #60D394;
    --miss: #AF3E4D; 
}
/*On initialise nos variables*/

/*On mets des propriétés à tous les éléments*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*On mets des propriétés à tous les éléments*/

/*On mets la taille de la police à 10px si l'utilisateur à gardé la valeur par défaut de 16px (pour simplifier l'utilisation des rem)*/
html {
    font-size: 62.5%;
}
/*On mets la taille de la police à 10px si l'utilisateur à gardé la valeur par défaut de 16px (pour simplifier l'utilisation des rem)*/


/*On empeche le site de faire plus de 2000px (et change la couleur d'arrière plan)*/
body{
    max-width: 2000px;
    margin: 0 auto;
    background-color: var(--light);
}
/*On empeche le site de faire plus de 2000px (et change la couleur d'arrière plan)*/

/*-------------------------------*/
/*On s'occupe d'éléments généraux*/

/*On s'occupe du bouton de contact*/
.contact_button{
    display: block;
    background-color: var(--main-color);
    color: var(--light);
    font-family: 'Anton', sans-serif;
    width: min-content;
    text-decoration: none;
    font-size: 3.96rem;
    padding: 0.5rem 4rem;
    border-radius: 1rem;
    transform: scale(0.9);
    transition: all 0.2s;
}

.contact_button:hover{
    transform: scale(1);
}

@media screen and (max-width: 600px){
    .contact_button{
        font-size: 2.4rem;
        padding: 1.5rem 6rem;
    }   
}
/*On s'occupe du bouton de contact*/


/*On s'occupe du header*/
header{
    display: flex;
    justify-content: space-between;
    background-color: var(--dark);
}

.header--logo{
    width: 20%;
    display: flex;
    justify-content: center;
}

.header--logo img{
    width: 50%;
    margin-bottom: -2.5rem; /*margin négatif car le SVG dépasse vers le bas*/
    padding-top: 0.2rem;
}

.header--nav{
    display: flex;
    align-items: center;
    width: 45%;
}

.header--nav--ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    width: 100%;
}

.header--nav--ul--element{
    margin: 0 0%;
}

.header--nav--ul a{
    color: var(--light);
    text-decoration: none;
    font-style: normal;
    font-family: 'Anton', sans-serif;
    font-size: 3.6rem;
    position: relative;
}

.header--nav--ul a:not(.header--nav--actual)::after{
    content: "";
    position: absolute;
    bottom: 0.4rem;
    width: 0;
    left: 0;
    height: 3px;
    background-color: var(--main-color);
    transition: width 0.3s;
}

.header--nav--ul a:not(.header--nav--actual):hover::after{
    width: 100%;
}

.header--nav--actual::after{
    content: "";
    position: absolute;
    bottom: 0.4rem; /* Ajustez cette valeur pour positionner correctement le soulignement */
    width: 100%;
    left: 0;
    height: 3px; /* Ajustez l'épaisseur du soulignement ici */
    background-color: var(--main-color); /* Couleur du soulignement */
    transition: width 0.3s;    
}

.remove_after::after{
    width: 0%;
}

.header--social_media{
    width: 15%;
    margin-right: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header--social_media svg{
    width: 3.6rem;
}

.header--social_media svg path{
    fill: var(--light);
    transition: all 0.2s;
}

.header--social_media svg:hover path{
    fill: var(--main-color);
}

/*On fais notre burger*/

.header--burger{
    width: 30%;
    aspect-ratio: 10 / 9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
    margin-right: 15%;
}

.header--burger .header--burger--bar{
    background-color: var(--light);
    width: 100%;
    height: 20%;
    border-radius: 10px;
}

.header--burger--checkbox{
    position: absolute;
    width: calc(45% / 100 * 30);
    aspect-ratio: 10 / 9;
    right: calc(45% / 100 * 15);
    /*Sert à rendre la checkbox invisible (visibility: hiden ne marche pas)*/
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    /*Sert à rendre la checkbox invisible (visibility: hiden ne marche pas)*/
}

.header--inside_burger{
    display: none;
}

.header--burger--ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    text-align: center;
}

.header--burger--ul a{
    font-size: 4.8rem;
    color: var(--light);
    text-decoration: none;
    font-family: 'Anton', sans-serif;
    width: 100%;
}

.header--burger--checkbox:checked ~ .header--inside_burger{
    display: flex;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 30rem;
    height: 40rem;
    background-color: var(--dark);
    justify-content: center;
}

.header--burger--ul--social_medias svg{
    width: 5%;
    margin: 0 2%;
}

.header--burger--ul--social_medias svg path{
    fill: var(--light);
}

/*On fais notre burger*/

/*On s'occupe du responsive*/
@media screen and (min-width: 1071px){
    .header--inside_burger{
        display: none !important;
    }

    .header--burger--checkbox{
        display: none;
    }
}

@media screen and (max-width: 1070px){
    .header--nav--ul{
        display: none;
    }
    
    .header--social_media{
        display: none;
    }

    .header--burger{
        display: flex;
    }

    .header--nav{
        justify-content: flex-end;
    }

    .header--logo{
        margin: 3% 0 0;
        width: 50%;
    }
}

@media screen and (min-width: 600px) and (max-width: 1070px){
    .header--logo img{
        width: 30%;
        margin-top: -2rem;
    }    
    .header--burger{
        width: 20%;
    }

    .header--burger--checkbox{
        width: calc(45% / 100 * 20);
    }
}

@media screen and (max-width: 860px){
    .header--burger--checkbox:checked ~ .header--inside_burger{
        top: 20rem;
    }
}

@media screen and (max-width: 600px){
    .header--burger--checkbox:checked ~ .header--inside_burger{
        top: 15rem;
    }
}

@media screen and (max-width: 400px){
    .header--burger--checkbox:checked ~ .header--inside_burger{
        top: 10rem;
    }
}
/*On s'occupe du responsive*/
/*On s'occupe du header*/

/*On s'occupe du footer*/

footer{
    background-color: var(--dark);
    display: flex;
    justify-content: flex-end;
}

footer a{
    color: var(--light);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    text-decoration-thickness: 3px;
    padding: 4rem 0;
    margin-right: 10rem;
}

@media screen and (max-width: 1070px){
    footer{
        margin-top: 5rem;
    }
}

@media screen and (max-width: 600px){
    footer{
        justify-content: space-around;
    }

    footer a{
        margin: 0;
        font-size: 1.6rem;
    }
}

/*On s'occupe du footer*/

/*On s'occupe d'éléments généraux*/
/*-------------------------------*/

/*------------------------*/
/*On s'occupe d'index.html*/

/*On s'occupe de la section principale*/

main{
    display: flex;
}

.main--infos{
    width: 50%;
}

.main--infos--title{
    display: block;
    background-color: var(--dark);
    color: var(--light);
    font-size: 3.96rem;
    width: 30.8rem;
    padding: 2rem 0;
    text-align: center;
    font-family: 'Anton', sans-serif;
    border-radius: 1rem;
    margin-top: 3rem;
    margin-left: 3%;
    max-width: 100%;
    transform: scale(0.9);
    transition: all 0.2s;
    text-decoration: none;
}

.main--infos--title:hover{
    transform: scale(1);
}

.main--infos--sub_title{
    font-size: 3.6rem;
    color: var(--dark);
    font-family: 'Anton', sans-serif;
    margin-left: 5%;
    margin-top: 1rem;
}

.main--infos--paragraph{
    margin-left: 5%;
    font-size: 2.4rem;
    color: var(--dark);
    font-family: 'Montserrat', sans-serif;
    width: 85%;
    margin-top: 1rem;
}

.main--infos--cta_buttons{
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.main--infos--contact_button{   
    margin-left: 4%;
}

.main--infos--portfolio_link{
    color: var(--dark);
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    position: relative;
}

.main--infos--portfolio_link::after{
    content: "";
    position: absolute;
    width: 0;
    left: 0;
    bottom: 0;
    height: 3px;
    background-color: var(--main-color);
    transition: width 0.3s;
    
}

.main--infos--portfolio_link:hover::after{
    width: 100%;
}

.main--infos--portfolio_link span{
    font-size: 2rem;
}

.main--infos--contact_infos{
    display: flex;
    margin-left: 5%;
    margin-top: 5rem;
}

.main--infos--contact_infos_title{
    font-family: 'Anton', sans-serif;
    color: var(--dark);   
    font-size: 3.6rem;
}

.main--infos--contact--a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    color: var(--dark);
    text-decoration: none;
}

.main--infos--e_mail{
    margin-left: 10%;
}

.main--photo{
    width: 50%;
    overflow: hidden;
    height: 80rem;
}

.main--photo img{
    width: 90%;
    display: block;
    margin: 0 auto;
}

/*On s'occupe de responsive*/
@media screen and (min-width: 1200px){
    .main--photo img{
        width: 80%;
    }    
}

@media screen and (min-width: 1400px){
    .main--photo img{
        width: 70%;
    }
}

@media screen and (min-width: 1600px){
    .main--photo img{
        width: 60%;
    }
}

@media screen and (min-width: 1800px){
    .main--photo img{
        width: 50%;
    }   
}

@media screen and (max-width: 1070px){
    .main--infos--contact_infos{
        flex-direction: column;
    }       

    .main--infos--e_mail{
        margin-left: 0;
        margin-top: 2rem;
    }

    .main--photo{
        display: none;
    }

    .main--infos{
        width: 100%;
    }
}

@media screen and (max-width: 600px){
    .main--infos{
        width: 100%;
    }
    .main--infos--title{
        width: 24rem;
        font-size: 2.4rem;
        max-width: 95%;
        margin: 1.5rem auto;
    }  
    
    .main--infos--sub_title{
        font-size: 2.4rem;
        text-align: center;
        margin: 0;
    }

    .main--infos--paragraph{
        width: 75%;
        text-align: center;
        margin: 1rem auto 0;
        font-size: 1.6rem;
    }

    .main--infos--cta_buttons{
        flex-direction: column;
    }

    .main--infos--contact_button{
        margin-left: 0;
    }

    .main--infos--portfolio_link{
        font-size: 1.6rem;
        margin-top: 1rem;
    }

    .main--infos--portfolio_link span{
        font-size: 1.4rem;
    }

    .main--infos--contact_infos{
        text-align: center;
    }

    .main--infos--contact_infos_title{
        font-size: 2.4rem;
    }

    .main--infos--contact--p{
        font-size: 1.6rem;
    }
}

/*On s'occupe de responsive*/

/*On s'occupe de la section principale*/

/*On s'occupe d'index.html*/
/*------------------------*/

/*-------------------------*/
/*On s'occupe de about.html*/

.about--main{
    display: flex;
    flex-direction: column;
}

.about-main--paragraph{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4rem;   
    align-self: center; 
    width: 80%;
    color: var(--dark);
    margin-top: 10rem;
}

.about--main--skills{
    align-self: center;
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about--main--skills--element{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4rem;   
    color: var(--dark);  
    margin-top: 5rem;
}

.about--main--contact_button{
    margin-left: 10%;
    margin-top: 10rem;
}

.about--footer{
    margin-top: 25rem;
}

@media screen and (max-width: 600px){
    .about-main--paragraph{
        margin-top: 5rem;
    }

    .about--main--skills--element{
        margin-top: 3rem;
    }

    .about--main--contact_button{
        margin-top: 5rem;
    }

    .about--footer{
        margin-top: 10rem;
    }
}

/*On s'occupe de about.html*/
/*-------------------------*/

/*-----------------------------*/
/*On s'occupe de portfolio.html*/

.portfolio--main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio--main--article{
    width: 28%;
    transform: scale(0.8);
    transition: all 0.3s;
    margin-top: 5rem;
}

.portfolio--main--article:hover{
    transform: scale(1);
}

.portfolio--main--article--img{
    width: 100%;
}

.portfolio--main--article--title{
    font-family: 'Anton', sans-serif;
    color: var(--dark);   
    font-size: 3.6rem;   
    margin-top: 2rem;
}

.portfolio--main--article--p{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4rem;  
    color: var(--dark);  
}

.portfolio--main--article--links{
    display: flex;
    width: 20%;
    justify-content: space-between;
    margin-top: 2rem;
}

.portfolio--main--article--link{
    display: block;
    width: 40%;
}

.portfolio--main--article--link--svg{
    width: 100%;
}

.portfolio--main--article--link--svg path{
    fill: var(--dark);
}

.portfolio--footer{
    margin-top: 5rem;
}

@media screen and (max-width: 950px){
    .portfolio--main--article{
        width: 45%;
    }
}

@media screen and (max-width: 600px){
    .portfolio--main--article{
        width: 90%;
    }   

    .portfolio--main--article--title{
        font-size: 2.4rem;
    }

    .portfolio--main--article--p{
        font-size: 1.6rem;
    }
}

/*On s'occupe de portfolio.html*/
/*-----------------------------*/

/*---------------------------*/
/*On s'occupe de contact.html*/
.contact--main{
    display: flex;
    flex-direction: column;
}

.contact--main--contact_form{
    width: 80%;
    align-self: center;
    margin-top: 5rem;
    border: 0.5rem solid var(--dark);
}

.contact--main--contact_form--form--element{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 2rem auto 0;
}

.contact--main--contact_form--form--element label{
    color: var(--dark);
    font-family: 'Anton', sans-serif;
    font-size: 2.4rem;
}

.contact--main--contact_form--form--input{
    height: 3rem;
    background-color: var(--light);
    border: none;
    border-bottom: 0.2rem solid var(--dark);
}

.contact--main--contact_form--form--input:focus{
    outline: none;
    border: 0.2rem solid var(--dark);
}

#form_name{
    width: 20%;
}

#form_email{
    width: 30%;
}

#form_message{
    height: 10rem;
    resize: none;
}

#contact--main--contact_form--form--submit{
    width: 10rem;
    height: 5rem;
    background-color: var(--main-color);
    border: none;
    box-shadow: none;
    font-family: 'Anton', sans-serif;
    font-size: 2.4rem;
    color: var(--light);
    border-radius: 1rem;
    margin-bottom: 2rem;
    transition: all 0.2s;
}

#contact--main--contact_form--form--submit:hover{
    transform: scale(1.1); 
}

.contact--main--contact_infos{
    width: 100%;
}

.contact--main--contact_infos--container{
    margin-left: 10%;
    margin-top: 5rem;
}

.contact--main--contact_infos--container--title{
    font-family: 'Anton', sans-serif;
    color: var(--dark);   
    font-size: 3.6rem;   
}

.contact--main--contact_infos--container--a{   
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    color: var(--dark);
    text-decoration: none;
}

.contact--footer{
    margin-top: 10rem;
}

@media screen and (max-width: 1000px){
    #form_name{
        width: 30%;
    }

    #form_email{
        width: 40%;
    }
}

@media screen and (max-width: 700px){
    #form_name{
        width: 40%;
    }

    #form_email{
        width: 50%;
    }
}

@media screen and (max-width: 600px){
    .contact--main--contact_infos--container--title{
        font-size: 2.4rem;
    }

    .contact--main--contact_infos--container--a{
        font-size: 1.6rem;
    }

    #contact--main--contact_form--form--submit, .contact--main--contact_form--form--element label{
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 500px){
    #form_name{
        width: 60%;
    }

    #form_email{
        width: 70%;
    }
}

/*Confirmation su message dans confirmation.html*/
.confirmation_fail--contact_form{
    flex-direction: row;
}

.contact--main--contact_form--confirmation{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    color: var(--dark);
    background-color: var(--validation);  
    display: block;
    width: 55rem;
    height: min-content;
    margin-left: 3%;
    border-radius: 1rem;
    padding: 1rem 0;
    text-align: center;
}

.contact--main--contact_form--fail{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    color: var(--dark);
    background-color: var(--miss);  
    display: block;
    width: 55rem;
    height: min-content;
    margin-left: 3%;
    border-radius: 1rem;
    padding: 1rem 0;
    text-align: center;
}

@media screen and (max-width: 600px){
    .contact--main--contact_form--confirmation, .contact--main--contact_form--fail{
        font-size: 1.6rem;
    }
}

/*On s'occupe de contact.html*/
/*---------------------------*/

/*-------------------------------*/
/*On s'occupe de credentials.html*/

.credentials--main{
    display: flex;
    flex-direction: column;
}

.credentials--main--element{
    margin-top: 5rem;
}

/*On s'occupe de credentials.html*/
/*-------------------------------*/


